extends: default

rules:
  document-start: false
  colons:
    max-spaces-before: 1
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  empty-lines:
    max: 1
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
